<element>
<web-app>
<servlet>
<servlet-name>abc</servlet-name>
<servlet-class>com.mvc.DoctorRegisterController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>abc</servlet-name>
<url-pattern>./doctor_register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>sri</servlet-name>
<servlet-class>com.mvc.DoctorLoginController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>sri</servlet-name>
<url-pattern>./doctor_login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>latha</servlet-name>
<servlet-class>com.mvc.PatientRegisterController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>latha</servlet-name>
<url-pattern>./patient_register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ratna</servlet-name>
<servlet-class>com.mvc.DoctorUpdateController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>latha</servlet-name>
<url-pattern>./patient_register</url-pattern>
</servlet-mapping>







<servlet>
<servlet-name>dappu</servlet-name>
<servlet-class>com.mvc.PatientLoginController</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>dappu</servlet-name>
<url-pattern>./patient_login</url-pattern>
</servlet-mapping>
</web-app>
</element>